$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 100vw, md: 90vw, lg: 90vw, xl: 90vw);



$gutter: $grid-gutter-width;

