@import "vars";
@import "fonts";
@import "libs";


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind:500&display=swap');


::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: Montserrat;
	overflow-x: hidden;
	color: $text;
	background-color: #000;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
.scroll-hide{
	overflow: hidden !important;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}



@import "media"; // Always at the end


// @keyframes fadein {
//   from { opacity: 0; }
//   to   { opacity: 1; }
// }

/* Firefox < 16 */
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@keyframes scrolldownhoney{

	0%{
		opacity: 0;
		transform:translate(0, -8px);
	}
	50%{
		opacity: 1;
		transform :translate(0, 0);
	}

	100%{
		opacity: 0;
		transform :translate(0, 8px);
	}
}

@mixin fadeAnimation{
	 -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@mixin aspectRatio($persent){
	position: relative;
	padding-bottom: $persent;
	//overflow: hidden;
	img{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}


@mixin projectColors($hex, $widthLogo, $imgUrl){
	.img-wrapper{
		.project-logo{
			background-size: $widthLogo;
			background-image: url($imgUrl);
		}
		.img-overlay{
			background-color: $hex;
		}
	}
}


html, body {
	margin: 0px;
	height: 100%;
	width: 100%;
	padding: 0px;

}
h1{
	font-size: 3.9vw;
	color: #fff;
	letter-spacing: .01vw;
	line-height: 1.2;
	font-family: Montserrat;
	@media only screen and (max-width: 640px) {
		font-size: 7vw;
	}
}
h2{
	font-size: 2.2vw;
	color: #fff;
	line-height: 1.2;
	font-family: Montserrat;
	@media only screen and (max-width: 640px) {
		font-size: 6vw;
	}
}
h3{
	color: #fff;
	font-family: Montserrat;
	font-size: 1.67vw;
	font-weight: 500;
	@media only screen and (max-width: 640px) {
		font-size: 5vw;
	}
}
p, li{
	font-size: 1.4vw;
	color: #e9e9e9;
	font-family: Hind;
	letter-spacing: .07vw;
	line-height: 1.6;
	font-weight: 500;
	@media only screen and (max-width: 640px) {
		font-size: 4vw;
	}

}

a{
	color: #fff;
	font-size: 1.4vw;
	font-family: Montserrat;
	font-weight: 500;
	text-decoration: none !important;
	@media only screen and (max-width: 640px) {
		font-size: 4vw;
	}

	&.txt-link{
		display: inline-block;
		position: relative;
		transition: all 0.3s ease;

		&:after {
			content: '';
			position: absolute;
			height: 2px;
			width: 100%;
			left: 0;
			bottom: 0;
			visibility: hidden;
			background-color: #fff;
			-webkit-transition: all .1s ease;
			transition: all 0.3s ease;  
			-webkit-transform: scaleX(0);
			-ms-transform: scaleX(0);
			transform: scaleX(0);
		}

		&:hover{
			opacity: .8;
			color: #fff;
			&:after {
				visibility: visible;
				-webkit-transform: scaleX(1);
				-ms-transform: scaleX(1);
				transform: scaleX(1);
			}
		}
	}

}
section{
	background-color: #000;
}
h3{
	color: #fff;
}


header{
	position: fixed;
	top: 0;
	left: 0vw;
	right: 0vw;
	z-index: 10;
	padding: 10px 0px;
	display: flex;
	z-index: 101;
	align-items: center;
	justify-content: space-between;
	@include fadeAnimation;
	.logo{

		color: #fff;
		font-size: 1.7vw;
		font-family: Russo One;
		img{
			display: block;
			max-width: 13vw;
			width: 100%;
		}
		a{
			display: block;
			color: #fff;
		}
	}
	#main-nav{
		ul{
			margin: 0px;
			text-align: right;
			li{
				list-style: none;
				color: #fff;
				font-family: Roboto;
				display: inline-block;
				margin-right: 2vw;
				font-size: 1.4vw;
				&:last-child{
					margin-right: 0px;
				}
				a{
					color: #fff;
				}
			}
		}
	}
	&.solid{
		background-color: #000;
	}
	.row{
		align-items: center;
	}
}


#hero {
	background:#777;
	margin:0;
	background-image: url('/img/imgs/banner.jpeg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	position:fixed;
	overflow: hidden;
	@media only screen and (max-width: 640px) {
		position: relative;
		height: 90%;
	}
	top: 0;
	z-index: 99;
	width: 100%;

	#canvas{
		background:#777;
		opacity: .4;
	}
	.hero-content{
		position: absolute;
		color: #fff;
		font-family: Roboto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		margin: 0px;
		@include fadeAnimation;
		width: 100%;
		text-align: center;
		h1{
			line-height: 1.2;
			font-family: Montserrat;
			font-weight: 500;
			@media only screen and (max-width: 640px) {
				font-size: 7vw;
			}
		}
		a{
			color: #FF5722;

		}
	}
	#left-hero-info{
		position: absolute;
		p{
			font-family: Montserrat;
			font-weight: 500;
		}
		@media only screen and (min-width: 640px) {
			left: 1.4vw;
			top: 50%;
			transform: translateY(-50%) rotate(-90deg);
			transform-origin: center;
			z-index: 100000;
			line-height: 1;
			opacity: 0;
			transition: opacity .5s ease-in;
		}
		@media only screen and (max-width: 640px) {
			left: 0 !important;
			bottom: 7%;
			width: 100%;
			text-align: center;
			a,p{
				font-size: 4vw;
			}
		}


		p{
			margin: 0px;
		}

	}
	#right-hero-content{
		position: absolute;
		@media only screen and (min-width: 640px) {
			right: 1.4vw;
			top: 50%;
			transform: translateY(-50%) rotate(90deg);
			transform-origin: center;
			z-index: 100000;
			opacity: 0;
			transition: opacity .5s ease-in;
		}
		@media only screen and (max-width: 640px) {
			right: 0 !important;
			bottom: 2%;
			width: 100%;
			text-align: center;
			a{
				font-size: 3vw;
			}
		}
		a{
			margin-right: 3vw;
			line-height: 1;
			display: inline-block;
			&:last-child{
				margin-right: 0;
			}
		}

	}
	.row{
		position: relative;
	}
}






main{
	position: relative;
	margin-top: 100vh;
	@media only screen and (max-width: 640px) {
		margin-top: 0;
		// canvas{
		// 	position: absolute;
		// 	top: 0;
		// 	bottom: 0;
		// 	width: 100%;
		// 	height: 100%;
		// }
	}
	background-color: #000;
	z-index: 100;
	h2{
		color: #fff;
	}
	p{
		color: #fff;
	}
}

.wrap-scrolldownhoney{

	left: 50%;
	position: absolute;
	text-align :center;
	transform: translateX(-50%);
	bottom: .2vw;
	color: #fff;
	font-size: .7vw;
	@media only screen and (max-width: 640px) {
		display: none;
	}

	.scrolldownhoney{
		border: 2px solid #FFFFFF;
		border-radius: 30px;
		height:2.2vw;
		margin:0 auto 8px;
		text-align :center;
		width:1.5vw;
	}

	.scrolldownhoney-c1,
	.scrolldownhoney-c2{
		animation-duration: 1.5s;
		animation-name: scrolldownhoney;
		animation-iteration-count: infinite;
		fill: #FFF;
	}

	.scrolldownhoney-c2{
		animation-delay: .75s;

	}

}
#about{
	@media only screen and (max-width: 640px) {
		padding-top: 10vw !important;
	}
	.section-inner{
		//padding-top: 3vw;
		h1{
			font-weight: 700;
			margin-bottom: 2rem;
			@media only screen and (max-width: 640px) {
				margin-bottom: 1rem;
			}
		}
		.container{
			.row{
				align-items: center;
			}
		}
		.left-part{
			.wrap-card{
				width: 75%;
				@include aspectRatio(95%);
				@media only screen and (max-width: 640px) {
					margin-top: 5vw;
					margin-bottom: 5vw;
				}
			}
			p{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 17%;
			}
		}
	}
	
}


#works{
	padding: 7vw 0 3vw;
	@media only screen and (max-width: 640px) {
		padding: 10vw 0 10vw;
	}
	h2{
		text-align: center;
	}
}




.portfolio-grid{
	display: flex;
	flex-wrap: wrap;
	margin: 50px -15px 0px;
	@media only screen and (max-width: 640px) {
		margin: 30px -5px 0px;
	}
	.portfolio-item{
		width: calc(33.333% - 30px);
		margin: 0px 15px 40px;
		@media only screen and (max-width: 640px) {
			width: calc(50% - 10px);
			margin: 0px 5px 20px;
		}

		a{
			display: block;
		}
		.img-wrapper{
			@include aspectRatio(100%);
			// img{
			// 	//opacity: 0;
			// 	z-index: 10001;
			// }
			.project-logo{
				width: 100%;

				background-size: 50%;
				background-position: center;
				position: absolute;
				height: 100%;
				z-index: 10001;
				background-repeat: no-repeat;
			}
			.img-overlay{
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				background-color: #05E3EE;
				z-index: 10000;
				box-shadow: 5px 6px 8px rgba(0, 0, 0, .2);
			}
			.img-hover{
				position: absolute;
				left: 4.5%;
				top: 4.5%;
				right: 2.5%;
				bottom: 0;
				width: 98%;
				background: #fff;
				z-index: 10000;
				opacity: 0;
				transition: all .2s ease-in;
			}
		}
		.project-info{
			position: relative;
			height: 100%;
			left: 4.5%;
			width: 98%;
			background: #000;
			transition: all .2s ease-in;
			@media only screen and (max-width: 640px) {
				left: 0%;
				width: 100%;
			}
			h3,p, a{
				color: #fff;
				transition: all .2s ease-in;
			}
			.info-inner{
				padding: 30px 20px 20px;
				@media only screen and (max-width: 640px) {
					padding: 10px 0px 0px;	
				}

			}

		}
		&:hover{
			.project-info{
				background: #fff;
				h3{
					color: #000;
				}
				p, .platform{
					color: #000;
				}
			}
			.img-wrapper{
				.img-hover{
					opacity: 1;
				}
			}
		}
		.platform{
			text-transform: uppercase;
			color: #fff;
			transition: all .3s ease-in;
		}

		&.lumio{
			@include projectColors(#F6DACF, 50%, '/img/logos/lumio.png');
		}
		&.fmg{
			@include projectColors(#515e65, 90%, '/img/logos/fmg.png');
		}
		&.ernest{
			@include projectColors(#fd9786, 60%, '/img/logos/ernest.png');
		}
		&.vic{
			@include projectColors(#f01532, 70%, '/img/logos/vic.png');
		}
		&.elliston{
			@include projectColors(#2e303b, 80%, '/img/logos/elliston.png');
		}
		&.jolly{
			@include projectColors(#91bbe3, 80%, '/img/logos/jolly.png');
		}
		&.ros{
			@include projectColors(#091e3f, 60%, '/img/logos/roswell.png');
		}
		&.lr{
			@include projectColors(rgb(35, 30, 26), 70%, '/img/logos/lr.png');
		}
		&.peach{
			@include projectColors(#fff, 60%, '/img/logos/peaches.png');
		}
		&.tal{
			@include projectColors(#203b87, 70%, '/img/logos/tanks.png');
		}
		&.elm{
			@include projectColors(#222, 50%, '/img/logos/elm.png');
		}
		&.redline{
			@include projectColors(#e1523c, 70%, '/img/logos/redline-logo-white.svg');
		}
		&.recycle{
			@include projectColors(#fff, 70%, '/img/logos/recycled.png');
		}

	}
}

#philos{
	padding: 5vw 0;
	.philosoohy-grid{
		margin: 5vw -15px 0px;
		display: flex;
		flex-wrap: wrap;
		@media only screen and (max-width: 640px) {
			margin: 50px 0px 0px;
		}

		.phil-item{
			width: calc(33.333% - 30px);
			border: 1px solid #e3e3e3;
			overflow: hidden;
			margin: 0px 15px 40px;
			@media only screen and (max-width: 640px) {
				width: 100%;
				margin: 0px 0px 40px;
			}
			.count{
				img{
					max-height: 40vh;
					@media only screen and (max-width: 800px) {
						max-height: 20vh;
					}
					@media only screen and (max-width: 640px) {
						max-height: 10vh;
					}
					height: 100%;
				}
				
			}
			h2{
				padding: 20px;
				@media only screen and (max-width: 640px) {
					padding: 15px;
				}
				font-weight: 500;
			}
		}
	}
}


#services{
	padding-bottom: 8vw;
	h1{
		margin-bottom: 2vw;
	}
}


#contact{
	position: relative;
	z-index: 1000;
	background: #000;
	.footer-container{
		display: grid;
		grid-template-columns: 26% 30% 38% 6%;
		@media only screen and (max-width: 640px) {
			grid-template-columns: 100%;
		}
		border: 1px solid #fff;
		> div{
			border: 1px solid #fff;
		}
		.email-area{
			display: flex;
			align-items: center;
			@media only screen and (max-width: 640px) {
				background: #fff;
			}
			.to-top-button{
				display: none;
				@media only screen and (max-width: 640px) {
					display: block;
					background-color: #000;
					border: 1px solid #fff;
				}
			}
		}
		.email-inner{
			padding: 2vw calc(5vw + 15px);
			@media only screen and (max-width: 640px) {
				padding: 15px;
				width: 80%;
				background-color: #000;
			}

		}
		.menu-area, .social-area,.top-but-area{
			display: grid;
			grid-template-rows: 1fr 1fr;

		}
		@media only screen and (max-width: 640px) {
			.top-but-area{
				display: none;

			}
		}
		.menu-footer{
			display: flex;
			align-items: center;
			.menu-footer-inner{
				margin: 0 auto;
				a{
					margin-right: 2vw;
					&:last-child{
						margin-right: 0px;
					}
				}
			}
		}
		.social-area{
			.social-wrap{
				display: flex;
				flex-wrap: wrap;
				a{
					width: 33.333%;
					display: block;
					border: 1px solid #fff;
					border-top: none;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: all .4s ease-in;
					&:hover{
						background-color: #fff;
						color: #000;
					}
				}
			}
			.copyright{
				border-top: 1px solid #fff;
				display: flex;
				align-items: center;
				justify-content: center;
				p{
					margin: 0px;
				}
				@media only screen and (max-width: 640px) {
					padding: 25px;
				}
			}

		}
		.to-top-button{
			@media only screen and (max-width: 640px) {
				display: none;
			}
			img{
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		.lines-footer{
			//background-color: #fff;
			overflow: hidden;
			img{
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;

			}
		}
	}

}

#header{
	@media only screen and (max-width: 640px) {
		display: none !important;
	}
}
#mobile-header{
	display: none;
	.logo{
		img{
			max-width: 33vw;
		}
	}
	@media only screen and (max-width: 640px) {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		z-index: 100000000;
		transition: all .3s ease-in;
		&.solid{
			background-color: #000;
		}
		.logo{
			width: 50%;
			a{
				font-size: 5vw;
			}

		}
		.three{
			width: 50%;
		}
		.col-md-12{
			display: flex;
			align-items: center;
		}
	}
	.hamburger .line{
		width: 20px;
		height: 2px;
		background-color: #ecf0f1;
		display: block;
		margin: 3px 0 3px auto;

		-webkit-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}


	#hamburger-1.is-active .line:nth-child(2){
		opacity: 0;
	}

	#hamburger-1.is-active .line:nth-child(1){
		-webkit-transform: translateY(4px) rotate(45deg);
		-ms-transform: translateY(4px) rotate(45deg);
		-o-transform: translateY(4px) rotate(45deg);
		transform: translateY(4px) rotate(45deg);
	}

	#hamburger-1.is-active .line:nth-child(3){
		-webkit-transform: translateY(-6px) rotate(-45deg);
		-ms-transform: translateY(-6px) rotate(-45deg);
		-o-transform: translateY(-6px) rotate(-45deg);
		transform: translateY(-6px) rotate(-45deg);
	}

}

#mobile-navigation{

	display: none;
	background-color: transparent;

	@media only screen and (max-width: 640px) {
		display: block;
		display: flex;
		position: fixed;
		z-index: 10000000;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .98);
		align-items: center;
		justify-content: center;
		text-align: center;
		opacity: 0;
		z-index: 0;
		transition: all .2s ease-in;
		visibility: hidden;

		ul{
			padding: 0px;
			li{

				list-style: none;
				
				a{
					font-size: 9vw;
					font-weight: 700;
				}
			}
		}
		&.show{
			opacity: 1;
			z-index: 10000000;
			visibility: visible;
		}
	}

}