* {
  outline: none !important;
}

@font-face {
  font-family: "futura-bold";
  src: url(https://static1.squarespace.com/static/63c6e0cacbd97e68a2540fcd/t/63c7b1833c22b93e536d4803/1674031491531/Futura-Bold.ttf);
}
#siteWrapper .summary-v2-block .summary-item .summary-title {
  letter-spacing: 0;
  font-weight: 400;
  font-family: "Montserrat";
}

body h1,
body h2,
body h3,
body h4,
body p,
body p.sqsrte-large {
  margin-top: 8px;
  margin-bottom: 8px;
}

body h1 {
  margin-bottom: clamp(16px, 1.66vw, 32px);
}
@media screen and (max-width: 767px) {
  body h1 br {
    display: none;
  }
}

body h2 {
  margin-bottom: clamp(12px, 1.25vw, 24px);
}

body h3 {
  margin-bottom: clamp(12px, 0.8vw, 16px);
}

p.sqsrte-large {
  font-size: clamp(20px, 1.58vw, 24px);
}

p {
  font-size: clamp(15px, 1.12vw, 17px);
}

p.sqsrte-small {
  font-size: clamp(14px, 0.9vw, 14px);
  letter-spacing: 1px;
}

.sqs-block-html.sqs-background-enabled p.sqsrte-small a {
  text-decoration: none;
  letter-spacing: 0 !important;
}

#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button),
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary,
#siteWrapper.site-wrapper .sqs-button-element--secondary,
#siteWrapper .form-wrapper .field-element,
#siteWrapper .header-skip-link,
.split-buttons .btn,
#siteWrapper.site-wrapper .sqs-button-element--tertiary,
#siteWrapper .newsletter-block .newsletter-form-button,
.sqs-block-html.sqs-background-enabled p.sqsrte-small a {
  padding: 0;
  background: transparent;
  font-family: "Montserrat";
  font-weight: 400;
  border-radius: 0;
  min-width: auto;
  text-transform: uppercase;
  transition: all 0.3s ease-out !important;
  position: relative;
  line-height: 1.4em;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):hover:before,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:hover:before,
#siteWrapper.site-wrapper .sqs-button-element--secondary:hover:before,
#siteWrapper .form-wrapper .field-element:hover:before,
#siteWrapper .header-skip-link:hover:before,
.split-buttons .btn:hover:before,
#siteWrapper.site-wrapper .sqs-button-element--tertiary:hover:before,
#siteWrapper .newsletter-block .newsletter-form-button:hover:before,
.sqs-block-html.sqs-background-enabled p.sqsrte-small a:hover:before {
  transform: scalex(1);
  transform-origin: 0 50%;
  transition-timing-function: ease;
  transition-delay: 70ms;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):before,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:before,
#siteWrapper.site-wrapper .sqs-button-element--secondary:before,
#siteWrapper .form-wrapper .field-element:before,
#siteWrapper .header-skip-link:before,
.split-buttons .btn:before,
#siteWrapper.site-wrapper .sqs-button-element--tertiary:before,
#siteWrapper .newsletter-block .newsletter-form-button:before,
.sqs-block-html.sqs-background-enabled p.sqsrte-small a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  will-change: transform;
  transform: scalex(0);
  transform-origin: 100% 50%;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):before,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:before,
#siteWrapper.site-wrapper .sqs-button-element--secondary:before,
#siteWrapper .form-wrapper .field-element:before,
#siteWrapper .header-skip-link:before,
.split-buttons .btn:before,
#siteWrapper.site-wrapper .sqs-button-element--tertiary:before,
#siteWrapper .newsletter-block .newsletter-form-button:before,
.sqs-block-html.sqs-background-enabled p.sqsrte-small a:before {
  background: #212121;
  bottom: -1px;
  transform: scale(1);
  opacity: 1;
  transition: all 0.3s ease-out !important;
  transform-origin: left;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):hover,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:hover,
#siteWrapper.site-wrapper .sqs-button-element--secondary:hover,
#siteWrapper .form-wrapper .field-element:hover,
#siteWrapper .header-skip-link:hover,
.split-buttons .btn:hover,
#siteWrapper.site-wrapper .sqs-button-element--tertiary:hover,
#siteWrapper .newsletter-block .newsletter-form-button:hover,
.sqs-block-html.sqs-background-enabled p.sqsrte-small a:hover {
  opacity: 1;
}
#siteWrapper.site-wrapper .sqs-button-element--primary:not(.newsletter-form-button):hover:before,
#siteWrapper.site-wrapper .bright .sqs-button-element--secondary:hover:before,
#siteWrapper.site-wrapper .sqs-button-element--secondary:hover:before,
#siteWrapper .form-wrapper .field-element:hover:before,
#siteWrapper .header-skip-link:hover:before,
.split-buttons .btn:hover:before,
#siteWrapper.site-wrapper .sqs-button-element--tertiary:hover:before,
#siteWrapper .newsletter-block .newsletter-form-button:hover:before,
.sqs-block-html.sqs-background-enabled p.sqsrte-small a:hover:before {
  transform: scalex(0.3);
  opacity: 1;
}

#siteWrapper .newsletter-block .newsletter-form-button {
  padding: 0 !important;
  background: none !important;
}

#siteWrapper.site-wrapper .black .sqs-button-element--primary:not(.newsletter-form-button):before,
#siteWrapper .black .newsletter-block .newsletter-form-button:before {
  background: #fff;
}

#siteWrapper .form-wrapper .field-element {
  padding: 1.04vw 1.5vw 1.04vw 1.5vw;
}
@media screen and (min-width: 1920px) {
  #siteWrapper .form-wrapper .field-element {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.btn-font {
  font-size: clamp(14px, 0.8333vw, 16px);
  font-weight: 700;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

#siteWrapper .header-skip-link {
  background: #FDC294;
  display: none;
}

.split-buttons {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 16px;
}
.split-buttons .btn.orange {
  background: #EEB111;
  border: 1px solid #EEB111;
  color: #00070C;
}
.split-buttons .btn.orange:hover {
  background: #fff;
}
.split-buttons .btn.transparent {
  background: transparent;
  border: 1px solid #EEB111;
}
.split-buttons .btn.transparent:hover {
  background: #EEB111;
}
.split-buttons .btn.yellow {
  background: #F6C316;
  color: #35201B;
}
.split-buttons .btn.yellow:before {
  filter: brightness(0%);
}

.btn.arrow {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  min-width: clamp(180px, 11.875vw, 228px);
  transition: all 0.3s ease-out !important;
  padding: 8px 8px 8px 24px;
  text-align: left;
}
@media screen and (max-width: 640px) {
  .btn.arrow {
    font-size: 12px;
  }
}

#siteWrapper .header .header-nav-item.header-nav-item--active a:before {
  background: transparent !important;
}
#siteWrapper .header .header-nav-item a {
  font-size: clamp(15px, 1.12vw, 17px);
  text-transform: uppercase;
  position: relative;
}
#siteWrapper .header .header-nav-item a:hover:before {
  transform: scalex(1);
  transform-origin: 0 50%;
  transition-timing-function: ease;
  transition-delay: 70ms;
}
#siteWrapper .header .header-nav-item a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  will-change: transform;
  transform: scalex(0);
  transform-origin: 100% 50%;
  transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
#siteWrapper .header .header-nav-item a:before {
  background: #fff;
}

.page-section.light-bold .content-wrapper {
  overflow: hidden;
}
.page-section.light-bold .fluid-engine {
  margin-left: -4vw;
  margin-right: -4vw;
}
@media screen and (max-width: 767px) {
  .page-section.light-bold .fluid-engine {
    margin: 0 auto;
  }
}

#siteWrapper .testimonials-section {
  overflow: hidden;
}
#siteWrapper .testimonials-section .content-wrapper {
  padding-left: 0;
  padding-right: 0;
  padding-top: 90px;
  padding-bottom: 90px;
}
@media screen and (max-width: 767px) {
  #siteWrapper .testimonials-section .content-wrapper {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
#siteWrapper .testimonials-section .content-wrapper .content {
  max-width: calc(1920px - 0vw);
  margin: 0 auto;
}
@media screen and (max-width: calc(1920px + 8vw)) {
  #siteWrapper .testimonials-section .content-wrapper .content {
    padding-left: 4vw;
    padding-right: 4vw;
    max-width: calc(100% - 8vw);
  }
}
#siteWrapper .testimonials-section .image-wrap,
#siteWrapper .testimonials-section .swiper-pagination {
  display: none;
}

main .sections:first-child .page-section:first-child.gallery-section {
  padding-top: 0 !important;
}

.gallery-section .gallery-fullscreen-slideshow {
  margin-bottom: 0 !important;
}
.gallery-section .gallery-caption.gallery-caption-fullscreen-slideshow {
  margin: 0;
  position: absolute;
  max-width: 1512px;
  padding-left: 4vw;
  padding-right: 4vw;
  box-sizing: border-box;
  transform: translatex(-50%);
  left: 50%;
  text-align: left;
  bottom: clamp(32px, 4.23vw, 64px);
  top: initial;
  height: auto;
}
.gallery-section .gallery-caption.gallery-caption-fullscreen-slideshow .title-inner h1 {
  padding-bottom: 30px;
  margin-bottom: 32px;
  border-bottom: 1px solid;
}
.gallery-section .gallery-caption.gallery-caption-fullscreen-slideshow .subheading {
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery-section .gallery-caption.gallery-caption-fullscreen-slideshow .subheading {
    max-width: calc(100% - clamp(164px, 15.8vw, 240px));
  }
}
@media screen and (max-width: 767px) {
  .gallery-section .gallery-fullscreen-slideshow-item-wrapper {
    padding-bottom: 64px;
  }
}
.gallery-section .gallery-fullscreen-slideshow-controls {
  transform: none;
  bottom: 0;
  top: initial;
  width: 100%;
  height: auto;
  bottom: clamp(32px, 4.23vw, 64px);
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: clamp(24px, 3.2vw, 48px);
  max-width: 1512px;
  padding-left: 4vw;
  padding-right: 4vw;
  left: 50%;
  transform: translatex(-50%);
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .gallery-section .gallery-fullscreen-slideshow-controls {
    position: relative;
    margin-top: 32px;
  }
}
.gallery-section .gallery-fullscreen-slideshow-controls .gallery-fullscreen-slideshow-control-btn {
  margin: 0;
  padding: 0;
  width: clamp(60px, 5.29vw, 80px);
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='8' viewBox='0 0 84 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451187 3.84172 0.451187 4.1583 0.646446 4.35356L3.82843 7.53554C4.02369 7.7308 4.34027 7.7308 4.53554 7.53554C4.7308 7.34028 4.7308 7.0237 4.53554 6.82843L1.70711 4.00001L4.53554 1.17158C4.7308 0.976318 4.7308 0.659735 4.53554 0.464473C4.34027 0.269211 4.02369 0.269211 3.82843 0.464473L0.646446 3.64645ZM84 3.5L1 3.50001L1 4.50001L84 4.5L84 3.5Z' fill='white'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20px;
  border-radius: 0;
  background-position: center;
}
.gallery-section .gallery-fullscreen-slideshow-controls .gallery-fullscreen-slideshow-control-btn > div {
  display: none;
}
.gallery-section .gallery-fullscreen-slideshow-controls .gallery-fullscreen-slideshow-control-btn:before {
  opacity: 0;
}
.gallery-section .gallery-fullscreen-slideshow-controls .gallery-fullscreen-slideshow-control-btn[data-next] {
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='8' viewBox='0 0 84 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.3536 4.35355C83.5488 4.15828 83.5488 3.8417 83.3536 3.64644L80.1716 0.464459C79.9763 0.269197 79.6597 0.269197 79.4645 0.464459C79.2692 0.659721 79.2692 0.976304 79.4645 1.17157L82.2929 3.99999L79.4645 6.82842C79.2692 7.02368 79.2692 7.34026 79.4645 7.53553C79.6597 7.73079 79.9763 7.73079 80.1716 7.53553L83.3536 4.35355ZM4.37114e-08 4.5L83 4.49999L83 3.49999L-4.37114e-08 3.5L4.37114e-08 4.5Z' fill='white'/%3E%3C/svg%3E%0A");
}

#siteWrapper .tiles-v1-section .sqs-row {
  margin: 0 !important;
}
#siteWrapper .tiles-v1-section .spacer-block {
  padding-top: 0;
  padding-bottom: 0;
}
#siteWrapper .tiles-v1-section .content-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 0 32px 0px !important;
}
@media screen and (max-width: 767px) {
  #siteWrapper .tiles-v1-section .button-block {
    padding-top: 48px !important;
  }
}
#siteWrapper .tiles-v1-section .sqs-col-12 > .sqs-row {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  #siteWrapper .tiles-v1-section .sqs-col-12 > .sqs-row .sqs-col-4 {
    width: 100% !important;
  }
}
#siteWrapper .tiles-v1-section .sqs-col-12 > .sqs-row .sqs-col-4 .image-block,
#siteWrapper .tiles-v1-section .sqs-col-12 > .sqs-row .sqs-col-4 .image-block .sqs-block-content,
#siteWrapper .tiles-v1-section .sqs-col-12 > .sqs-row .sqs-col-4 .sqs-block-image-figure {
  height: 100%;
}
#siteWrapper .tiles-v1-section .image-block {
  padding: 0 !important;
}
#siteWrapper .tiles-v1-section .image-block .intrinsic,
#siteWrapper .tiles-v1-section .image-block .sqs-block-content > div:not(.image-card-wrapper) {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#siteWrapper .tiles-v1-section .image-block .intrinsic .image-inset,
#siteWrapper .tiles-v1-section .image-block .sqs-block-content > div:not(.image-card-wrapper) .image-inset {
  height: 100%;
  width: 100%;
}
#siteWrapper .tiles-v1-section .image-block .intrinsic .image-inset .sqs-image-shape-container-element,
#siteWrapper .tiles-v1-section .image-block .sqs-block-content > div:not(.image-card-wrapper) .image-inset .sqs-image-shape-container-element {
  padding-bottom: 0 !important;
  width: 100%;
  height: 100%;
}
#siteWrapper .tiles-v1-section .image-block .image-card-wrapper {
  position: relative;
  padding: clamp(48px, 5.9vw, 90px) 0px;
}
#siteWrapper .tiles-v1-section .image-block .image-card-wrapper h3 {
  margin-bottom: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid;
  position: relative;
  display: block;
}
#siteWrapper .tiles-v1-section .image-block .image-card-wrapper .image-card {
  padding-left: clamp(24px, 4.1vw, 80px);
  padding-right: clamp(24px, 4.1vw, 80px);
  background: rgba(255, 255, 255, 0.75);
  box-sizing: border-box;
  padding: 40px;
  width: calc(100% - clamp(48px, 10.5vw, 160px));
  max-width: 350px;
}
body:not(.sqs-edit-mode) #siteWrapper .tiles-v1-section .image-block .image-card-wrapper {
  transform: translatey(-50%);
  top: 50%;
}

.summary-v2-block .summary-item-list.sqs-gallery.sqs-gallery-design-autocolumns .img-wrapper {
  overflow: hidden;
}
.summary-v2-block .summary-item-list.sqs-gallery.sqs-gallery-design-autocolumns .img-wrapper:hover img {
  transform: scale(1.1);
}
.summary-v2-block .summary-item-list.sqs-gallery.sqs-gallery-design-autocolumns img {
  transition: all 0.3s ease-out !important;
}

.black .sqs-block-newsletter .newsletter-form-field-element {
  padding: 0 0 12px 0 !important;
  background: transparent !important;
  color: #fff;
  border: 0px;
  border-bottom: 1px solid;
}
.black .sqs-block-newsletter .newsletter-form-field-element::-moz-placeholder {
  color: #fff !important;
}
.black .sqs-block-newsletter .newsletter-form-field-element::placeholder {
  color: #fff !important;
}

.newsletter-block .newsletter-form-footnote p {
  font-size: 12px !important;
}

@media screen and (min-width: 768px) {
  .newsletter-block .newsletter-form-field-wrapper {
    min-width: 400px;
  }
}

.accordion-block {
  counter-reset: accordion-counter;
}
.accordion-block .accordion-item {
  padding-left: 40px;
}
.accordion-block .accordion-item .accordion-item__title {
  padding-right: clamp(24px, 4.2vw, 64px) !important;
  font-size: clamp(28px, 2.31vw, 35px) !important;
  line-height: 1.1em;
}
.accordion-block .accordion-item .accordion-item__title-wrapper {
  counter-increment: accordion-counter;
}
.accordion-block .accordion-item .accordion-item__title-wrapper:before {
  content: counter(accordion-counter, decimal-leading-zero);
  display: inline-block;
  position: absolute;
  margin: 0;
  left: 0;
  top: 29px;
  font-family: "Montserrat";
  font-size: 20px;
}

#footer-sections p.sqsrte-large a {
  text-decoration: none !important;
}

@media screen and (max-width: 767px) {
  .team-section .sqs-row {
    margin: 0 !important;
  }
}
.team-section .sqs-col-12 > .sqs-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: clamp(24px, 5.2vw, 80px);
}
.team-section .sqs-col-12 > .sqs-row:before, .team-section .sqs-col-12 > .sqs-row:after {
  display: none;
}
.team-section .sqs-col-12 > .sqs-row .sqs-col-8 {
  width: calc(66.6667% - 80px);
}
.team-section .gallery-block {
  width: 100% !important;
}
@media screen and (max-width: 767px) {
  .team-section .gallery-block {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .team-section .gallery-block .sqs-gallery {
    margin: 0 !important;
  }
  .team-section .gallery-block .sqs-gallery .slide {
    width: 100% !important;
  }
  .team-section .gallery-block .sqs-gallery .margin-wrapper {
    margin-right: 0 !important;
  }
  .team-section .gallery-block .sqs-gallery .image-slide-anchor {
    overflow: hidden;
    position: relative;
    padding-bottom: 100% !important;
  }
  .team-section .gallery-block .sqs-gallery .image-slide-anchor img {
    width: 100% !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    -o-object-fit: cover;
       object-fit: cover;
    transition: all 0.3s ease-out !important;
  }
}
.team-section .image-slide-anchor {
  overflow: hidden;
}
.team-section .image-slide-anchor:hover img {
  transform: scale(1.1);
}
.team-section img {
  transition: all 0.3s ease-out !important;
}
.team-section .title-inner {
  text-align: left;
  white-space: normal;
}
.team-section .title-inner p:nth-child(1) {
  font-weight: 600;
  font-size: 18px;
}

#header.white-bold .header-title-logo img {
  filter: brightness(0%);
}
#header.white-bold .header-nav-item a:before {
  background: #212121 !important;
}

.blog-item-wrapper.blog-grid-masonry-item-wrapper .entry {
  padding-bottom: 0;
}

.view-list .blog-masonry.collection-content-wrapper {
  padding-top: 24px;
}
.view-list .blog-masonry.collection-content-wrapper .image-wrapper {
  overflow: hidden;
}
.view-list .blog-masonry.collection-content-wrapper .image-wrapper:hover img {
  transform: scale(1.1);
}
.view-list .blog-masonry.collection-content-wrapper .image-wrapper img {
  transition: all 0.3s ease-out !important;
}

#itemPagination {
  padding-left: 0 !important;
  padding-right: 0 !important;
  max-width: 1352px;
  margin: 0 auto;
  padding-bottom: clamp(48px, 5.9vw, 90px);
}
@media screen and (max-width: calc(1352px + 8vw)) {
  #itemPagination {
    padding-left: 4vw !important;
    padding-right: 4vw !important;
  }
}
@media screen and (max-width: 767px) {
  #itemPagination {
    padding-left: 6vw !important;
    padding-right: 6vw !important;
  }
}
#itemPagination h2 {
  margin-bottom: 0 !important;
}
#itemPagination .item-pagination-link {
  transition: all 0.3s ease-out !important;
}
#itemPagination .item-pagination-link:hover {
  opacity: 0.7;
}

#collection-659681e1455b52052d9e9116 .blog-title a, .collection-type-blog-masonry .blog-title a {
  font-size: 20px;
  font-family: "Montserrat";
}

#siteWrapper .blog-meta-section a,
#siteWrapper .summary-metadata-container.summary-metadata-container--above-title a {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tiles-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 32px;
  position: relative;
}
@media screen and (max-width: 767px) {
  .tiles-contact {
    gap: 32px;
  }
}
.tiles-contact > div {
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  .tiles-contact > div {
    width: 100%;
  }
}
.tiles-contact a {
  transition: all 0.3s ease-out !important;
}
.tiles-contact a:hover {
  opacity: 0.7;
}
.tiles-contact:before {
  content: "";
  position: absolute;
  left: 33.333%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #212121;
}
@media screen and (max-width: 767px) {
  .tiles-contact:before {
    display: none;
  }
}
.tiles-contact:after {
  content: "";
  position: absolute;
  left: 66.666%;
  top: 0;
  width: 1px;
  height: 100%;
  background: #212121;
}
@media screen and (max-width: 767px) {
  .tiles-contact:after {
    display: none;
  }
}

.header-skip-link.sqs-button-element--primary {
  display: none;
}

@media screen and (max-width: 767px) {
  #siteWrapper .sqs-block.html-block.sqs-block-html.sqs-background-enabled {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}

.user-items-list-section {
  /* Hide .content-wrapper > .content */
}
.user-items-list-section .image-swiper .image-wrapper {
  width: 100%;
}
.user-items-list-section .image-swiper .image-wrapper img {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-out !important;
}
.user-items-list-section .content-wrapper {
  display: flex;
}
@media screen and (max-width: 767px) {
  .user-items-list-section .content-wrapper {
    flex-wrap: wrap;
  }
}
.user-items-list-section .swiper-container {
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .user-items-list-section .swiper-container {
    width: 100%;
  }
}
.user-items-list-section .image-swiper .swiper-slide,
.user-items-list-section .text-swiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 767px) {
  .user-items-list-section .image-wrapper {
    padding-bottom: 60%;
    position: relative;
  }
}
.user-items-list-section .image-wrapper img {
  max-width: 100%;
  height: auto;
}
.user-items-list-section .content-wrapper > .content {
  display: none;
}
.user-items-list-section .text-swiper .info {
  padding: 4vw;
}
.user-items-list-section .text-swiper .info .top-text-wrapper {
  padding-bottom: clamp(32px, 9.92vw, 150px);
}
.user-items-list-section .text-swiper .info .top-text-wrapper h3 {
  margin-bottom: clamp(32px, 8.5vw, 130px);
  max-width: 530px;
}
.user-items-list-section .text-swiper .info .top-text-wrapper p {
  max-width: 430px;
}
.user-items-list-section .text-swiper .info .bottom-text-wrapper p:nth-child(1) {
  font-weight: 500;
  font-size: clamp(20px, 1.58vw, 24px);
}
.user-items-list-section .text-swiper .info .bottom-text-wrapper p:nth-child(2) {
  font-size: clamp(14px, 1.1vw, 17px);
  font-weight: 500;
}
.user-items-list-section .swiper-button-next,
.user-items-list-section .swiper-button-prev {
  bottom: 0;
  top: initial;
  width: 80px;
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='8' viewBox='0 0 84 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M83.3536 4.35355C83.5488 4.15828 83.5488 3.8417 83.3536 3.64644L80.1716 0.464459C79.9763 0.269197 79.6597 0.269197 79.4645 0.464459C79.2692 0.659721 79.2692 0.976304 79.4645 1.17157L82.2929 3.99999L79.4645 6.82842C79.2692 7.02368 79.2692 7.34026 79.4645 7.53553C79.6597 7.73079 79.9763 7.73079 80.1716 7.53553L83.3536 4.35355ZM4.37114e-08 4.5L83 4.49999L83 3.49999L-4.37114e-08 3.5L4.37114e-08 4.5Z' fill='%23212121'/%3E%3C/svg%3E%0A");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  right: 4vw;
}
.user-items-list-section .swiper-button-next:before, .user-items-list-section .swiper-button-next:after,
.user-items-list-section .swiper-button-prev:before,
.user-items-list-section .swiper-button-prev:after {
  opacity: 0;
}
.user-items-list-section .swiper-button-prev {
  transform: rotate(180deg);
  left: initial;
  right: calc(4vw + 112px);
}

#siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-basic-grid, .collection-type-blog-basic-grid.view-list .page-section .blog-basic-grid {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: clamp(32px, 4.23vw, 64px);
       column-gap: clamp(32px, 4.23vw, 64px);
  display: block;
  padding-bottom: clamp(48px, 5.95vw, 90px);
  padding-top: clamp(48px, 5.95vw, 90px);
}
@media screen and (max-width: 767px) {
  #siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-basic-grid, .collection-type-blog-basic-grid.view-list .page-section .blog-basic-grid {
    -moz-column-count: 1;
         column-count: 1;
  }
}
#siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-item, .collection-type-blog-basic-grid.view-list .page-section .blog-item {
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  margin-bottom: 1em;
  margin-bottom: clamp(32px, 4.23vw, 64px);
}
#siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-item > div:nth-child(1), .collection-type-blog-basic-grid.view-list .page-section .blog-item > div:nth-child(1) {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
#siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-item > div:nth-child(1):hover img, .collection-type-blog-basic-grid.view-list .page-section .blog-item > div:nth-child(1):hover img {
  transform: scale(1.1);
}
#siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-item > div:nth-child(1) a, .collection-type-blog-basic-grid.view-list .page-section .blog-item > div:nth-child(1) a {
  display: block;
  position: relative;
  height: auto;
  padding-bottom: 0 !important;
}
#siteWrapper [data-section-id="659582b4bbabed548c125359"] .blog-item > div:nth-child(1) a img, .collection-type-blog-basic-grid.view-list .page-section .blog-item > div:nth-child(1) a img {
  position: relative !important;
  display: block !important;
  height: auto !important;
  transition: all 0.3s ease-out !important;
}