

/*--------------custom-tabs2--------------------------*/

.custom-tabs2{
    background-color: #faf7f2; 
}

.custom-tabs_body2{
    display:flex;
   justify-content: space-between;
   align-items: center;
}
.custom-tabs_info-part2{
     width: 100%;
   max-width: 530px;
   padding-left: 20px;
}
.custom-tabs2 .custom-tabs_info-cpntent{
     overflow:hidden;
 background-color: #faf7f2;
}
.custom-tabs2  .custom-tabs_info-cpntent{
    height: 100%;
   max-height: 600px; 
}
.custom-tabs2 .custom-tabs_item-content2 img{
   height: 100%;
   max-height: 600px; 
   object-fit: cover;
}

.custom-tabs_body2{
   align-items: center;
}
.custom-tabs_info-part2 h2{
     margin:0px;
   margin-bottom:20px;
   font-family: var(--font-heading-family);
   font-style: normal;
   font-weight: 400;
   font-size: 26px;
   line-height: 20px;
    color: rgb(var(--color-foreground));
}
.custom-tabs_info-part2 h3{
    margin:0px;
   margin-bottom:20px;
   font-family: var(--font-heading-family);
   font-style: normal;
   font-weight: 400;
   font-size: 46px;
   line-height: 20px;
    color: rgb(var(--color-foreground));
   margin-top:30px;
}
.custom-tabs_info-part2-text{
     font-family: var(--font-heading-family);
   font-style: normal;
   font-weight: normal;
   font-size: 16px;
   line-height: 20px;
    color: rgb(var(--color-foreground));
      margin:0px;
   margin-bottom:50px;
   margin-top:30px;
}	

.custom-tabs-item2{
    padding:0px 0px 20px 0px;
   margin-bottom:20px;
   border-bottom:0.5px solid #455d58;
   box-shadow:none;
   border-radius:0px;
}
.custom-tabs-item2 h4{
    margin:0px;
   font-family: var(--font-heading-family);
   font-style: normal;
   font-weight: 500;
   font-size: 20px;
   line-height: 20px;
    color: rgb(var(--color-foreground));
   pointer-events: none;
}

.btn{
   padding: 19px 68px;
   background-color: #faf7f2;
   font-family: var(--font-heading-family);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   text-transform: uppercase;
    color: rgb(var(--color-foreground));
   cursor: pointer;
   position: relative;
   overflow: hidden;
   transition: all 0.3s ease 0s;
   margin-top:50px;
   border:0.5px solid #455d58; 
}
.btn a{
   font-family: var(--font-heading-family);
   font-style: normal;
   font-weight: bold;
   font-size: 14px;
   line-height: 17px;
   text-transform: uppercase;
    color: rgb(var(--color-foreground));
   text-decoration:none;
}
.custom-tabs2 .custom-tabs-item2{
    cursor:pointer; 
}
.btn:hover{
   color: #fff;
   position: relative;
   z-index: 11;
   background:#455d58;
   border:0.5px solid transparent !important;
}
.btn:hover a{
     color: #fff !important;
}

.custom-tabs-container2{
    padding:100px 50px;
}
.custom-tabs2  .custom-tabs_info-cpntent{
     width: 45%;
}
.custom-tabs_item-content2{
     opacity:0;
   display:none;
   transition:1s;
}
.custom-tabs_item-content2.active2{
   display:block !important;
     opacity:1;
   transition:1s;
}	
.custom-tabs-item_active2{
    box-shadow: 0px 25px 30px rgba(79, 64, 11, 0.05); 
}

@media(min-width:1500px){
 .custom-tabs_info-cpntent2{
       width: 45%;
 }
 .custom-tabs_info-part2{
       width: 45%;
   max-width: 630px;
 }
}


@media(max-width:1200px){
.custom-tabs_body2{
       flex-direction: column-reverse;
 }
.custom-tabs_info-part2{
       width: 100%;
    margin-bottom: 50px;
 }
.custom-tabs_info-cpntent2{
       width: 100%;
    max-width: 100%;
 }
.custom-tabs_item-content2 img{
       width: 100%;
    max-width: 100%;
 }
 .btn{
     margin: 0 auto;
     margin-top:50px;
 }
.custom-tabs-container2 {
   padding: 30px 0px;
 }
 .custom-tabs_info-part2{
      padding-left:0px; 
 }
}

  .btn2{
    padding: 19px 68px;
    background-color: #faf7f2;
    font-family: var(--font-heading-family);
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgb(var(--color-foreground));
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease 0s;
    margin-top: 50px;
  }
  .btn2 a{
   	text-decoration:none; 
  }
